In [21]:
import pandas as pd
import numpy as np

df = pd.read_csv('marketing_customer_analysis.csv')

#Show the shape of the data frame

print(df.shape)

#Standarize header columns.

df.columns = [x.lower() for x in df.columns]

#Which columns are categorical.

print(' The following columns are categorical: ' )
cat_columns = df.select_dtypes(include=['object']).columns.tolist()
print(cat_columns)

(10910, 26)
 The following columns are categorical:
['customer', 'state', 'response', 'coverage', 'education', 'effective to date', 'employmentstatus', 'gender', 'location code', 'marital status', 'policy type', 'policy', 'renew offer type', 'sales channel', 'vehicle class', 'vehicle size', 'vehicle type']

In [22]:
print(' The following columns are numeric: ' )

 The following columns are numeric:

['unnamed: 0',
 'customer lifetime value',
 'income',
 'monthly premium auto',
 'months since last claim',
 'months since policy inception',
 'number of open complaints',
 'number of policies',
 'total claim amount']

In [36]:
# Check and deal with NaN values

df = df[df['state'].isna()==False]
df = df1[df['months since last claim'].isna()==False]
df = df[df['number of open complaints'].isna()==False]
df = df[df['vehicle class'].isna()==False]
df = df[df['vehicle size'].isna()==False]
df = df[df['vehicle type'].isna()==False]

df.isna().sum()

unnamed: 0                       0
customer                         0
state                            0
customer lifetime value          0
response                         0
coverage                         0
education                        0
effective to date                0
employmentstatus                 0
gender                           0
income                           0
location code                    0
marital status                   0
monthly premium auto             0
months since last claim          0
months since policy inception    0
number of open complaints        0
number of policies               0
policy type                      0
policy                           0
renew offer type                 0
sales channel                    0
total claim amount               0
vehicle class                    0
vehicle size                     0
vehicle type                     0
dtype: int64

In [30]:
# Datetime format

import time
from datetime import date

df_date = pd.DataFrame(df['effective to date'])

df_date['effective to date'] = pd.to_datetime(df_date['effective to date'], errors = 'coerce')

filtered_df = df_date.loc[(df_date['effective to date'] < '2011-02-28')]

display(filtered_df)

      effective to date
0            2011-02-18
1            2011-01-18
2            2011-02-10
3            2011-01-11
4            2011-01-17
...                 ...
10905        2011-01-19
10906        2011-01-06
10907        2011-02-06
10908        2011-02-13
10909        2011-01-08

[10718 rows x 1 columns]